.header {
  width: 100%;
  position: relative;
  background-color: #f19d2f;
}

.header__container {
  padding: 10px 15px;
  display: flex;
}

.header__text {
  position: relative;
  margin: 0 auto;
  font-size: 13px;
  font-family: $GothamPro;
  text-align: center;
  text-transform: uppercase;

  &::before {
    position: absolute;
    top: 1px;
    left: -18px;
    content: "";
    background-image: url("../files/img/header-flag.svg");
    width: 15px;
    height: 10px;
    background-size: 100%;
  }

  &::after {
    position: absolute;
    top: 1px;
    right: -18px;
    content: "";
    background-image: url("../files/img/header-flag.svg");
    width: 15px;
    height: 10px;
    background-size: 100%;
  }
}
